<div class="column">
  <div class="column-settings">
    <mat-icon
      *ngIf="titleEditMode"
      class="column-settings__cancel-icon"
      [title]="'Cancel' | translate"
      (click)="onCancel()"
      >cancel</mat-icon
    >
    <mat-icon
      *ngIf="titleEditMode"
      class="column-settings__save-icon"
      [title]="'' | translate"
      (click)="updateColumn(colTitle.value)"
      >save</mat-icon
    >
    <div class="column-settings__title">
      <input
        type="text"
        class="column-settings__item-input"
        id="colTitle"
        name="colTitle"
        value="{{ column.title }}"
        #colTitle
        (click)="editTitle()"
      />
    </div>
    <div class="column-settings__icons">
      <mat-icon
        class="column-settings__remove-icon"
        [title]="'Preview-delete' | translate"
        (click)="deleteColumn()"
        >highlight_off</mat-icon
      >
    </div>
  </div>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    class="tasks-list"
    (cdkDropListDropped)="drop($event)"
  >
    <app-task *ngFor="let item of todo" cdkDrag></app-task>
  </div>
  <div class="column-new-task__btn">
    <mat-icon>add</mat-icon>
    <span>Add new Task</span>
  </div>
</div>
