

<div class="column">
  <div class="column-settings">
    <div class="column-settings__title">{{ column.title }}</div>
    <div class="column-settings__icons">
      <mat-icon
        class="column-settings__edit-icon"
        [title]="'Column-edit' | translate"
        (click)="updateColumn()"
        >edit</mat-icon
      >
      <mat-icon
        class="column-settings__remove-icon"
        [title]="'Column-delete' | translate"
        (click)="deleteColumn(column._id)"
        >highlight_off</mat-icon
      >
    </div>
  </div>
  
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    class="tasks-list"
    (cdkDropListDropped)="drop($event)">

    <app-task *ngFor="let item of todo" cdkDrag></app-task>
    
  </div>
  <div class="column-new-task__btn" (click)="addNewTask()">
    <mat-icon>add</mat-icon>
    <span>{{'Columns-task-add' | translate}}</span>
  </div>
</div>
