

<div class="column">
  <div class="column-settings">
    <div class="column-settings__title">Title</div>
    <div class="column-settings__icons">
      <mat-icon
        class="column-settings__edit-icon"
        [title]="'Preview-edit' | translate"
        (click)="updateColumn()"
        >edit</mat-icon
      >
      <mat-icon
        class="column-settings__remove-icon"
        [title]="'Preview-delete' | translate"
        (click)="deleteColumn()"
        >highlight_off</mat-icon
      >
    </div>
  </div>
  
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    class="tasks-list"
    (cdkDropListDropped)="drop($event)">

    <app-task *ngFor="let item of todo" cdkDrag></app-task>
    
  </div>
  <div class="column-new-task__btn">
    <mat-icon>add</mat-icon>
    <span>Add new Task</span>
  </div>
</div>
