.search__container {
  position: relative;
}

.search__input {
  font-size: 1rem;
  border: none;
  border-radius: 2px 2px 0 0;
  outline: none;
  min-width: 202px;
  width: 50%;
  height: 24px;
  box-sizing: border-box;

  &:focus {
    border: 2px solid #228EC4;
  }
}

.search__results {
  min-width: 200px;
  width: 50%;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  min-height: 30px;
  border-radius: 0 0 6px 6px;
  border: 1px solid #228EC4;
  background-color: #212121;
  max-height: 40vh;
  overflow-y: auto;
}
