<div class="columns-wrap">
  <div cdkDropList cdkDropListOrientation="horizontal" class="column-list"  (cdkDropListDropped)="drop($event)" *ngIf="(columns$ | async) as columns " cdkDropListGroup>
    <div class="column-wrap" cdkDrag  *ngFor="let column of columns" >
      <app-board-column [column]="column" ></app-board-column>
    </div>
  </div>
  <div class="new-column" (click)="createColumn()">
    <div class="new-column__icon">
      <mat-icon>add</mat-icon>
    </div>
    <div class="new-column__title">
      {{'Columns-create-column' | translate}}
    </div>
  </div>
</div>
