<div class="columns-wrap">
  <div cdkDropList cdkDropListOrientation="horizontal" class="column-list" (cdkDropListDropped)="drop($event)">
    <div class="column-wrap" cdkDrag>
      <app-board-column ></app-board-column>
    </div>
    <div class="column-wrap" cdkDrag>
      <app-board-column ></app-board-column>
    </div>
  </div>
  <div class="new-column">
    <div class="new-column__icon">
      <mat-icon>add</mat-icon>
    </div>
    <div class="new-column__title">
      Create column
    </div>
  </div>
</div>
