.columns-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 30px;
  gap: 12px;
}
.column-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.column-wrap {
  box-sizing: border-box;
  width: 304px;
  height: 100%;
  background-color: #393840;
  position: relative;
  border-radius: 24px;
  border: 1px solid #767185;
}
.new-column {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px dashed #81759E;
    color: #81759E;
    border-radius: 12px;
    transition: 0.2s;
  }
  &__title {
    font-size: 1.3rem;
    color: #81759E;
    transition: 0.2s;
  }
}
.new-column:hover .new-column__icon {
  color: #73e5e0;
  border-color: #73e5e0;
}
.new-column:hover .new-column__title {
  color: #73e5e0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 24px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

