.board-container {
  width: 100%;
  height: 450px;
  background-color: #2e2b36;
  border: 1px solid #767185;
  border-radius: 24px;
  overflow-x: hidden;
  overflow-y: auto;
}

.board-title {
  color: #81759E;
  font-size: 1.4rem;
  padding: 13px 17px 10px;
  border-bottom: 1px solid;
}

.boards-wrap {
  padding: 12px 17px 8px;
  overflow-x: hidden;
  overflow-y: auto;
}

.boards-rows {
  display: grid;
  margin-bottom: 12px;
  gap: 8px;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
}



@media (max-width: 980px) {
  .boards-rows{
      grid-template-columns: repeat(1, minmax(240px, 1fr));
  }
}