@import "src/assets/styles/variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #212121;
  background: #efefef;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
