:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5% auto;
}

form {
  width: 350px;
  height: 470px;
  border-radius: 5px;
  background: #efefef;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;

  .form__question {
    font-size: 12px;
  }

  .form__link {
    margin-left: 5px;
    font-weight: bold;
    color: #2f80ed;
    cursor: pointer;
  }

  h2 {
    margin-top: 18px;
  }

  mat-form-field {
    width: 320px;
    padding-bottom: 0;
    border-bottom: transparent !important;
  }

  mat-error {
    color: red;
  }

  span {
    margin-bottom: 10px;
  }

  input {
    margin: 10px 0 0 -10px;
    padding-left: 10px;
    border: none;
    background-color: #e5e5e5;
    height: 33px;
    width: 310px;
    color: #929292;
  }

  button[type="submit"] {
    width: 120px;
    float: right;
    margin: 20px 40px 0 0;
  }

  button[type="submit"]:enabled {
    color: white;
    background-color: #2f80ed;
  }
}
