@import "src/assets/styles/variables";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  background: none;
  color: white;
  cursor: pointer;
}
