<footer class="footer">
  <span class="year">2022</span>
  <div class="github-list">
    <ul class="gh-list">
      <li><a href="https://github.com/wixhub" target="_blank">WIXHUB</a></li>
      <li><a href="https://github.com/zhagun" target="_blank">ZHAGUN</a></li>
      <li><a href="https://github.com/nonebeer" target="_blank">NONEBEER</a></li>
    </ul>
  </div>
  <div class="rs-logo">
    <a href="https://rs.school/angular/" target="_blank">
      <img src="./assets/images/rs_school.svg" alt="rs-logo">
    </a>
  </div>
</footer>
