<h1 mat-dialog-title>
  {{ title | translate }}
</h1>

  
  <div class="modal-wrap" mat-dialog-content>
    <mat-form-field class="title-field" appearance="fill">
      <div class="project-title__label">{{ titleLabel | translate }}</div>
      <input matInput [(ngModel)]="titleField">
    </mat-form-field>
  
    <mat-form-field class="description-field" appearance="fill" *ngIf="descriptionLabel.length > 0">
      <div class="project-description__label">{{ descriptionLabel | translate }}</div>
      <textarea matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        [(ngModel)]="descriptionField"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="users-field" appearance="fill" *ngIf="users.length > 0">
      <div class="project-user__label">{{ usersLabel | translate }}</div>
      <mat-select [(ngModel)]="userName">
        <mat-option *ngFor="let user of users" [value]="user.name">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<div mat-dialog-actions>
  <button class="cancel-btn" mat-button (click)="onCancel()">{{ "Cancel" | translate }}</button>
  <button mat-raised-button (click)="onCommand()">
    {{ commandName | translate }}
  </button>
</div>