<h1 mat-dialog-title>
  {{ title | translate }}
</h1>

  
  <div class="modal-wrap" mat-dialog-content>
    <mat-form-field class="title-field" appearance="fill">
      <div class="project-title__label">{{ projectTitleLabel | translate }}</div>
      <input matInput [(ngModel)]="projectTitle">
    </mat-form-field>
  
    <mat-form-field class="description-field" appearance="fill">
      <div class="project-description__label">{{ projectDescriptionLabel | translate }}</div>
      <textarea matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        [(ngModel)]="projectDescription"
      ></textarea>
    </mat-form-field>
  </div>

<div mat-dialog-actions>
  <button class="cancel-btn" mat-button (click)="onCancel()">{{ "Cancel" | translate }}</button>
  <button mat-raised-button (click)="onCommand()">
    {{ commandName | translate }}
  </button>
</div>