.boards {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}

.boards-date__title {
  font-size: 1.4rem;
  color: #797589;
  text-align: center;
  margin-bottom: 15px;
}

.boards-user__wrap {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}