.boards {
  max-width: 1200px;
  margin: 30px auto;

}

.boards-date__title {
  font-size: 1.3rem;
  color: #797589;
  text-align: center;
  margin-bottom: 15px;
}

.boards-user__wrap {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}