$background: #1B1E3F;

$color1: #B594FF;
$color2: #FDA4DA;
$color3: #FFE1C5;

$color11: #120E0D;
$color12: #454349;
$color13: #FFCD8E;
$color14: #A94BFB;

$color21: #22334F;
$color22: #878E9D;
$color23: #FFA8FC;
$color24: #D8DADE;

$color31: #EDEEF3;
$color32: #161415;
$color33: #434343;
$color34: #7664C7;
$color35: #323637;
$color36: #E0E0E0;
$color37: #4A4C49;

$whiteColor: #FFFFFF;
$blackColor: #000000;
$darkGray: #4F4F4F;
$grayText: #929292;
$inputBackground: #EFEFEF;
$inputText: #333333;
$accentBlue: #2F80ED;
$lightBlue: #5EA2FF;
$gray95: #F2F2F2;
$gray88: #E0E0E0;
$oldSilver: #828282;
$error: rgba(255, 0, 0, 0.7);

$wBackground: #1b1a20;


